        body {
            font-family: 'Noto Sans KR', sans-serif;
        }

        .section-title {
            font-size: 2rem;
            font-weight: bold;
            color: black;
            margin-bottom: 20px;
        }

        img {
            max-width: 80%;
            height: auto;
            display: block;
            margin: auto;
            margin-bottom: 20px;

        }

        .personal-info {
            list-style-type: none;
            padding: 0;
        }

        .personal-info-item {
            margin-bottom: 15px;
        }

        .info-label {
            font-weight: bold;
            color: hotpink;
            display: block;
            margin-bottom: 5px;
        }

        .info-content {
            color: #333;
        }

        .season-photo{
            height:50px;
        }

        .season-label{
            font-size: 1rem;
            font-weight: bold;
            color:hotpink;
            margin-bottom: 20px;

        }