/* styles.css */

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D3D3D3;
    font-family: 'Noto Sans KR', sans-serif;
}

.container h3 {
    font-weight: bold;
    text-align: center;
}

.card {
    max-width: 250px;
    margin: auto;
    padding: 20px;
    background-color: dimgrey;


}

.card img {
    width: 100%;
}

.card .btn {
    display: block;
    margin: auto;
}

.card-text{
    font-weight: bold;
    text-align: center;

}
